@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* light mode below */
  --primary-color: #AFD7CA;
  --secondary-color: #4B957E;
  --tertiary-color: #0B3C49;
  --accent-color: #FFEC99;
  /* dark mode below */
  --primary-color-dark: #376D5B;
  --secondary-color-dark: #1B362E;
  --tertiary-color-dark: #030E12;
}

.wallpaper {
  background-image: url('./pages/assets/bg-pallet.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 20vh;
    height: 30vh;
    border-radius: 12px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 40%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  /* Font for Whole Application */
  .font-link {
    font-family: 'Arvo';
  }

  /* Navbar Font Size/Styles */
  .custom-navbar {
    font-size: 20px;
  }

  /* main button styling */
  .main-button {
    background: linear-gradient(45deg, var(--accent-color), var(--secondary-color));
    border-radius: 10000px;
    padding: 1rem;
  }

  .main-button:hover {
    
  }
  
.banner-section {
  background-image: url('./pages/assets/banner-test.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}